<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865705260205-u8biv1rl4o4m624h8m4r3ls9k58ug8go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865705260205-u8biv1rl4o4m624h8m4r3ls9k58ug8go</string>
	<key>API_KEY</key>
	<string>AIzaSyDGIPVHXfj4oDTqe0FNYxir-bQiuIXlcqw</string>
	<key>GCM_SENDER_ID</key>
	<string>865705260205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noteapp</string>
	<key>PROJECT_ID</key>
	<string>note-app-react-native-b8ac8</string>
	<key>STORAGE_BUCKET</key>
	<string>note-app-react-native-b8ac8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865705260205:ios:6105f5f709037b60e50224</string>
</dict>
</plist>